
    <form>
        <a href="/">Home</a>
    </form>

    <form>
        {{#songPreview1}}
            <a href={{songPreview1}}>Preview {{songName1}}</a>
        {{/songPreview1}}
        {{^songPreview1}}
            No results found!
        {{/songPreview1}}
    </form>

    <form>
        {{#songPreview2}}
            <iframe src={{songPreview2}} width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
        {{/songPreview2}}
        {{^songPreview2}}
            No results found!
        {{/songPreview2}}
    </form>

    <form>
        {{#songPreview3}}
            <iframe src={{songPreview3}} width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
        {{/songPreview3}}
        {{^songPreview3}}
            No results found!
        {{/songPreview3}}
    </form>

<div>
    Don't like our suggestions? Suggest a few of your own!
    <input type="text" placeholder="Title" name="songTitle1"/>
    <input type="text" placeholder="Artist" name="songArtist1"/>
    <input type="text" placeholder="Title" name="songTitle2"/>
    <input type="text" placeholder="Artist" name="songArtist2"/>
    <input type="text" placeholder="Title" name="songTitle3"/>
    <input type="text" placeholder="Artist" name="songArtist3"/>
</div>

<div>
    <button type="submit" >Submit Recipe</button>
</div>