img {
    position: fixed;
    top: 0;
    left: 0;
}

h2 {
    position: relative;
    top: 35%;
    left: 10%;
    z-index: 9;
    color: white;
    width: 30%;
}

.home-form {
    position: fixed;
    top: 300;
}

.login-form {
    position: fixed;
    top: 350;

}

.login-form input, .login-form button {
    display: block;
    margin-top: 15px;
    margin-left: 125px;
}

.create-account {
    position: fixed;
    top: 500;
    left: 50;
}