<!-- todo: make sure that an account can't be created if username already exists -->

CREATE NEW ACCOUNT


<form>
    <a href="/">Home</a>
</form>

<form action="/create-account" method="post">
    <div>
        <input type="text" name="username">Username</input>
        <input type="password" name="password">Password</input>
        <button type="submit">Create Account</button>
    </div>
</form>