Create a recipe:


<div>
    Name
    <input type="text" placeholder="name" name="name"/>
</div>

<div>
    Season
    <select>
        <option value="Spring">Spring</option>
        <option value="Summer">Summer</option>
        <option value="Fall">Fall</option>
        <option value="Winter">Winter</option>
    </select>
</div>

<div>
    Category
    <select>
        <option value="Breakfast">Breakfast</option>
        <option value="Brunch">Brunch</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Dessert">Dessert</option>
    </select>
</div>

<div>
    Region
    <select>
        <option value="French">French</option>
        <!-- placeholder: to be extended to multiple regions in Asia -->
        <option value="Asian">Asian</option>
        <option value="Contemporary">Contemporary</option>
        <option value="Southern">Southern</option>
        <option value="Italian">Italian</option>
    </select>
</div>

<div>
    Description
    <textarea rows="5" cols="10"></textarea>
</div>

<div>
    <button type="submit">Submit Recipe</button>
</div>