{{recipe.name}}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>

<form>
    <a href="/">Home</a>
</form>

<form action="/edit-recipe" method="post">
    <div>
        Name
        <input type="text" placeholder="{{recipe.name}}" name="name"/>
    </div>

    <div>
        Season
        <select id="season" name="season">
            <option selected>{{recipe.season}}</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
        </select>
    </div>

    <div>
        Category
        <select id="category" name="category">
            <option selected>{{recipe.category}}</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Brunch">Brunch</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Dessert">Dessert</option>
        </select>
    </div>

    <div>
        Region
        <select id="region" name="region">
            <option selected>{{recipe.region}}</option>
            <option value="French">French</option>
            <!-- placeholder: to be extended to multiple regions in Asia -->
            <option value="Asian">Asian</option>
            <option value="Contemporary">Contemporary</option>
            <option value="Southern">Southern</option>
            <option value="Italian">Italian</option>
        </select>
    </div>

    <div>
        Description
        <textarea title="description" name="description" rows="5" cols="10">{{recipe.description}}</textarea>
    </div>

    <div>
        <button type="submit" >Submit Recipe</button>
        <input type="hidden" name="id" value="{{recipe.id}}">
    </div>
</form>