<form>
    <a href="/">Home</a>
</form>

{{#playlists}}
    .
    <div>
        <button type="submit">Play</button>
    </div>
{{/playlists}}

{{^playlists}}
    You have no playlists saved!
{{/playlists}}