
 HOME

    {{#username}}
    <div>
        <form action="favorite-playlists" method="get">
            <button type="submit" name="favorite-playlists">Favorite Playlists</button>
        </form>
    </div>

    <div>
        <form action="my-recipes" method="get">
            <button type="submit" name="my-recipes">My Recipes</button>
        </form>
    </div>

    <div>
        <form action="/create-recipe" method="get">
            <button type="submit" name="create-recipe">Make a New Recipe</button>
        </form>
    </div>

    <div>
        <form action="/logout" method="get">
            <input type="text" name="logout"/>
            <button type="submit">Logout</button>
        </form>
    </div>
    {{/username}}

    {{^username}}
    <div>
        <form action="/login" method="post">
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button type="submit">Login</button>
        </form>
    </div>
    {{/username}}

    {{^username}}
        <div>
            <form>
                <a href="/create-account">Create Account</a>
            </form>
        </div>
    {{/username}}