<!-- puts generate playlist button next to each recipe -->
<!-- todo: have generate playlist redirect to Spotify playlist -->

{{#recipes}}
    {{.}}
    <div>
        <form action="/make-playlist" method="get">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" name="make-playlist">Make Playlist</button>
        </form>
        <form action="/edit-recipe" method="get">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" name="edit-recipe">Edit Recipe</button>
        </form>
        <form action="/delete-recipe" method="get">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" name="delete-recipe">Delete Recipe</button>
        </form>
    </div>
{{/recipes}}