<!-- puts generate playlist button next to each recipe -->
<!-- todo: have generate playlist redirect to spotify playlist -->

{{#recipes}}
    .
    <div>
        <button type="submit">Generate Playlist</button>
    </div>
{{/recipes}}