{{#suggestedSongs}}
    {{.}}
{{/suggestedSongs}}

<div>
    Don't like our suggestions? Suggest a few of your own!
    <input type="text" placeholder="Title" name="songTitle1"/>
    <input type="text" placeholder="Artist" name="songArtist1"/>
    <input type="text" placeholder="Title" name="songTitle2"/>
    <input type="text" placeholder="Artist" name="songArtist2"/>
    <input type="text" placeholder="Title" name="songTitle3"/>
    <input type="text" placeholder="Artist" name="songArtist3"/>
</div>

<div>
    <button type="submit" >Submit Recipe</button>
</div>