
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>

<form>
    <a href="/">Home</a>
</form>

{{#songPreview1}}
    <a href={{songPreview1}}>{{songName1}}</a>
{{/songPreview1}}
{{^songPreview1}}
    No results found!
{{/songPreview1}}

Search for another song?
<input type="text" placeholder="Title" name="songTitle1"/>
<input type="text" placeholder="Artist" name="songArtist1"/>


{{#songPreview2}}
    <iframe src={{songPreview2}} width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
{{/songPreview2}}
{{^songPreview2}}
    No results found!
{{/songPreview2}}

Search for another song?
<input type="text" placeholder="Title" name="songTitle2"/>
<input type="text" placeholder="Artist" name="songArtist2"/>

<form>
{{#songPreview3}}
    <iframe src={{songPreview3}} width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
{{/songPreview3}}
{{^songPreview3}}
    No results found!
{{/songPreview3}}
</form>

Search for another song?
<input type="text" placeholder="Title" name="songTitle3"/>
<input type="text" placeholder="Artist" name="songArtist3"/>


<form>
    <button type="submit" name="song-search">Search All Songs Again</button>
</form>

<form>
    <button type="submit" name="submit-songs">Submit Songs</button>
</form>