
<form>
    <a href="/">Home</a>
</form>

{{#songPreview1}}
    <iframe src={{songPreview1}} width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
{{/songPreview1}}
{{^songPreview1}}
    No results found!
{{/songPreview1}}

<form>
    <button type="submit" name="confirm-song">Confirm Song</button>
</form>

Search for another song?
<input type="text" placeholder="Title" name="songTitle1"/>
<input type="text" placeholder="Artist" name="songArtist1"/>
<form>
    <button type="submit" name="search-song">Search Again</button>
</form>

{{#songPreview2}}
    <iframe src={{songPreview2}} width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
{{/songPreview2}}
{{^songPreview2}}
    No results found!
{{/songPreview2}}

<form>
    <button type="submit" name="confirm-song">Confirm Song</button>
</form>

Search for another song?
<input type="text" placeholder="Title" name="songTitle2"/>
<input type="text" placeholder="Artist" name="songArtist2"/>
<form>
    <button type="submit" name="search-song">Search Again</button>
</form>

{{#songPreview3}}
    <iframe src={{songPreview3}} width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
{{/songPreview3}}
{{^songPreview3}}
    No results found!
{{/songPreview3}}

<form>
    <button type="submit" name="confirm-song">Confirm Song</button>
</form>

Search for another song?
<input type="text" placeholder="Title" name="songTitle3"/>
<input type="text" placeholder="Artist" name="songArtist3"/>
<form>
    <button type="submit" name="search-song">Search Again</button>
</form>

<form>
    <button type="submit" name="submit-recipe">Submit Songs</button>
</form>